.diplomadosDetalle {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 5% 0 5%;

  h3 {
    align-self: start;
    margin-bottom: 1rem;
    font-family: $ff-poppins;
    font-weight: 600;
    font-size: $fs-mdg;
    color: $verde-oscuro;
  }
  .diplomadosDetalle--contenedor {
    .diplomadosDetalle--portada {
      width: 330px;
      height: 220px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .diplomadosDetalle--clases {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      h5 {
        font-family: $ff-inter;
        font-size: $fs-sm;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      ol {
        margin-left: 1.5rem;
        li {
          font-family: $ff-inter;
          font-size: $fs-sm;
          font-weight: 500;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
  .diplomadosDetalle--duracion {
    margin-left: 0.5rem;
    p {
      font-family: $ff-inter;
      font-size: $fs-sm;
      margin-bottom: 1.5rem;
      span {
        font-weight: 600;
      }
    }
  }
}

.marcoBotonWapp {
  margin-bottom: 2rem;
  width: 100vw;
  background-color: transparent;
}

@media (min-width: 768px) {
  .diplomadosDetalle {
    padding: 2rem 10% 0 10%;

    h3 {
      font-size: $fs-lg;
    }
    .diplomadosDetalle--contenedor {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .diplomadosDetalle--portada {
        width: 50%;
        height: auto;
      }
      .diplomadosDetalle--clases {
        order: -1;
        margin-bottom: 1.5rem;
        h5 {
          font-size: $fs-mdg;

          margin-bottom: 1rem;
        }
        ol {
          margin-left: 1.5rem;
          width: 90%;
          li {
            font-size: $fs-mdg;

            margin-bottom: 0.3rem;
          }
        }
      }
    }
    .diplomadosDetalle--duracion {
      margin-left: 0rem;
      align-self: flex-start;
      p {
        font-size: $fs-mdg;
        margin-bottom: 1.5rem;
      }
    }
  }

  .marcoBotonWapp {
    margin-left: 10%;
  }
}

@media (min-width: 1200px) {
  .diplomadosDetalle {
    h3 {
      font-size: $fs-lg;
    }
    .diplomadosDetalle--contenedor {
      .diplomadosDetalle--portada {
        width: 520px;
        height: 460px;
      }
      .diplomadosDetalle--clases {
        h5 {
          font-size: $fs-mdg;
        }
        ol {
          margin-left: 2.5rem;
          li {
            font-size: $fs-md;
          }
        }
      }
    }
    .diplomadosDetalle--duracion {
      p {
        font-size: $fs-md;
      }
    }
  }
}

@media (min-width: 1440px) {
  .diplomadosDetalle {
    padding: 2rem 15vw 0 15vw;
  }
  .marcoBotonWapp {
    margin-left: 15vw;
  }
}
