.mobileMenu {
  display: none;
  width: 100vw;
  z-index: 5;
  background-color: $verde-claro;
  transition: left 0.8s ease-in-out;

  .menu-links {
    width: 100vw;
    text-decoration: none;
    .menu-links__links {
      display: flex;
      align-items: center;
      padding: 0 5%;
      padding-right: 0.5rem;
      h3 {
        color: $blanco;
        font-size: $fs-md;
        font-family: $ff-poppins;
        line-height: 1;
        padding: 1rem 0;
      }
    }
    .menu-links__desplegables {
      display: flex;
      width: 100vw;
      .menu-links__desplegables--boton {
        width: 100px;
        margin: auto 0;
        img {
          width: 25px;
          transition: 0.3s;
        }
        .giroFlecha{
          transform: rotate(180deg);
        }
      }
    }
    .bgVerde {
      background-color: $verde-oscuro;
    }
    .menu-links__desplegables--desplegados {
      display: none;

      padding-left: 12%;
      font-size: $fs-sm;
      a {
        h3 {
          display: flex;
          align-items: center;
          color: $blanco;
          font-size: 0.9rem;
          font-family: $ff-poppins;
          padding: 1rem 0;
        }
      }
    }
    .showDesplegables {
      display: block;
    }
  }
}
.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .mobileMenu {
    .menu-links {
      .menu-links__links {
        h3 {
          font-size: $fs-mdg;
        }
      }
      .menu-links__desplegables {
        display: flex;
        width: 100vw;
        img {
          width: 24px;
        }
      }
      .bgVerde {
        background-color: $verde-oscuro;
      }
      .menu-links__desplegables--desplegados {
        a {
          h3 {
            font-size: $fs-md;
          }
        }
      }
      .showDesplegables {
        display: block;
      }
    }
  }
}
