.navbar {
  display: flex;
  align-items: baseline;

  p {
    font-family: $ff-poppins;
    text-decoration: none;
    font-size: $fs-mdg;
    font-weight: bold;
    color: $blanco;
    margin-left: 30px;
    transition: 0.3s;

    &:hover {
      color: $verde-oscuro;
    }
  }
  .active {
    p {
      color: $verde-oscuro;
      font-family: $ff-poppins;
    }
  }

  .menuDesplegable {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 25px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        filter: invert(14%) sepia(15%) saturate(1778%) hue-rotate(104deg)
          brightness(25%) contrast(99%);
      }
    }
    .giroFlecha {
      transform: rotate(180deg);
    }
  }

  .menu-links__desplegables--desplegados {
    display: none;
  }
  .showDesplegables {
    width: max-content;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: $verde-claro;
    padding: 0 1rem 1rem 1rem;
    top: 47px;
    a {
      margin-top: 1rem;
      color: white;
      font-family: $ff-poppins;
      font-size: $fs-sm;
      transition: 0.3s;

      &:hover {
        color: $verde-oscuro;
      }
    }
  }
}
