.diplomadosDestacados__card {
  position: relative;
  align-self: center;
  width: 270px;
  height: 260px;
  box-shadow: $bs;
  border-radius: $br-10;
  img {
    background-color: #d9d9d9;
    width: 100%;
    height: 60%;
    border-radius: $br-10-top;
    object-fit: cover;
  }
  .diplomadosDestacados__card--titulo {
    position: absolute;
    bottom: 31%;
    width: 75%;
    border-radius: 0 50px 50px 0;
    background-color: $verde-oscuro;
    h5 {
      padding: 0.5rem;
      font-family: $ff-poppins;
      font-weight: 600;
      font-size: $fs-md;
      color: $blanco;
    }
  }
  .diplomadosDestacados__card--descripcion {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    border-radius: $br-10-bottom;
    background-color: white;
    p {
      font-family: $ff-poppins;
      font-size: $fs-md;
      font-weight: bold;
      margin-left: 5%;
    }
  }
}

@media (min-width: 768px) {
  .diplomadosDestacados__card {
    width: 300px;
    height: 280px;
    .diplomadosDestacados__card--titulo {
      bottom: 33%;
      h5 {
        font-size: $fs-mdg;
      }
    }
    .diplomadosDestacados__card--descripcion {
      p {
        font-size: $fs-mdg;
      }
    }
  }
}

@media (min-width: 768px) {
  .diplomadosDestacados__card {
    width: 300px;
    height: 280px;
    .diplomadosDestacados__card--titulo {
      bottom: 33%;
      h5 {
        font-size: $fs-mdg;
      }
    }
    .diplomadosDestacados__card--descripcion {
      p {
        font-size: $fs-md;
      }
    }
  }
}


