.diplomadosGaleria {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3%;
  div {
    margin: 2rem auto;
  }
}

@media (min-width: 1200px) {
  .diplomadosGaleria {
    padding: 4rem 8%;
  }
}

@media (min-width: 1440px) {
  .diplomadosGaleria {
    padding: 4rem 17vw;
  }
}


